@{
    ViewBag.Title = "Home Page";
}

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
      crossorigin="anonymous">

<link rel="stylesheet" href="~/Content/MyStyle.css">


<div class="row">

    <div class="card espacos" style="width: 18rem;">
        <img class="card-img-top" src="..\Imagens\CelularSamsung.png"
             alt="Imagens dos Produtos">
        <div class="card-body">
            <h5 class="card-title">Smartphones</h5>
            <h4 class="card-title">Celular Sansung</h4>
            <p class="card-text">
                Smartphone Samsung Galaxy J6 64GB Dual Chip Android 8.0 Tela 5.6" Octa-Core 1.6GHz
                4G Câmera 13MP - Violeta.
            </p>
            <p class="Preco" style="color: rgb(3, 168, 124)">
                <b>R$ 999,99</b>
            </p>
        </div>

    </div>


    <div class="card espacos" style="width: 18rem;">
        <img class="card-img-top" src="..\imagens\tv.png"
             alt="Imagens dos Produtos">
        <div class="card-body">
            <h5 class="card-title">SmartTv</h5>
            <h4 class="card-title">SmartTv Samsung</h4>
            <p class="card-text">SmartTv Samsung 50 Polegadas.</p>
            <p class="Preco" style="color: rgb(3, 168, 124)">
                <b>Por Apenas R$ 5.999.99</b>
            </p>
        </div>
    </div>


    <div class="card espacos" style="width: 18rem;">
        <img class="card-img-top" src="..\imagens\IPhone.jpg"
             alt="Imagens dos Produtos">
        <div class="card-body">
            <h5 class="card-title">Smartphones</h5>
            <h4 class="card-title">iPhone 6S</h4>
            <p class="card-text">
                iPhone 6s Apple com 3D Touch, iOS 11, Sensor Touch ID, Câmera iSight 12MP, Wi-Fi,
                4G, GPS, Bluetooth e NFC, 32GB, Rose, Tela 4,7"
            </p>
            <p class="Preco" style="color: rgb(3, 168, 124)">
                <b>Por R$2.499,00</b>
            </p>
        </div>
    </div>

    <div class="card espacos" style="width: 18rem;">
        <img class="card-img-top" src="..\imagens\Fritadeira.jpg"
             alt="Imagens dos Produtos">
        <div class="card-body">
            <h5 class="card-title">Eletro Eletrônico</h5>
            <h4 class="card-title">Fritadeira</h4>
            <p class="card-text">Fritadeira Sem Óleo Cadence Perfect Fryer Colors</p>
            <p class="Preco" style="color: rgb(3, 168, 124)">
                <b>Por R$499,00</b>
            </p>
        </div>
    </div>


    <div class="card espacos " style="width: 18rem;">
        <img class="card-img-top" src="..\imagens\macbook-air.jpg"
             alt="Imagens dos Produtos">
        <div class="card-body">
            <h5 class="card-title">Informática</h5>
            <h4 class="card-title">MacBook Air</h4>
            <p class="card-text">
                MacBook Apple MK4N2BZ/A com Intel® Core™ M Dual Core, 8GB, 512GB SSD, Wireless,
                Bluetooth, Webcam, Tela LED Retina 12" e OS X Yosemite
            </p>
            <p class="Preco" style="color: rgb(3, 168, 124)">
                <b>R$ 9999,99</b>
            </p>
        </div>
    </div>

    <div class="card espacos " style="width: 18rem;">
        <img class="card-img-top" src="..\imagens\Playstation.jpg"
             alt="Imagens dos Produtos">
        <div class="card-body">
            <h5 class="card-title">Games</h5>
            <h4 class="card-title">Paystation 4</h4>
            <p class="card-text">Console PlayStation 4 Slim 500GB - Preto - Bivolt</p>
            <p class="Preco" style="color: rgb(3, 168, 124)">
                <b>R$ 2.149,00</b>
            </p>
        </div>
    </div>

    <div class="card espacos" style="width: 18rem;">
        <img class="card-img-top" src="..\imagens\Geladeira.jpg"
             alt="Imagens dos Produtos">
        <div class="card-body">
            <h5 class="card-title">Eletrodomésticos</h5>
            <h4 class="card-title">Geladeira Brastemp</h4>
            <p class="card-text">
                Geladeira Brastemp Frost Free Duplex Ative! Inverse Maxi BRE80 com Freezer
                Invertido e Controle Eletrônico - 573L
            </p>
            <p class="Preco" style="color: rgb(3, 168, 124)">
                <b>Por apenas R$ 3.399,00</b>
            </p>
        </div>
    </div>

    <div class="card espacos " style="width: 18rem;">
        <img class="card-img-top" src="..\imagens\Beats.jpg"
             alt="Imagens dos Produtos">
        <div class="card-body">
            <h5 class="card-title">Acessórios</h5>
            <h4 class="card-title">Fone de Ouvido Beats</h4>
            <p class="card-text">Fone de ouvido supra-auricular Beats EP - Vermelho</p>
            <p class="Preco" style="color: rgb(3, 168, 124)">
                <b>R$ 599,00</b>
            </p>
        </div>
    </div>

    <div class="card espacos" style="width: 18rem;">
        <img class="card-img-top" src="..\imagens\AppleWatch.jpg"
             alt="Imagens dos Produtos">
        <div class="card-body">
            <h5 class="card-title">Acessórios</h5>
            <h4 class="card-title">Apple Watch</h4>
            <p class="card-text">Apple Watch Series 3 GPS + Cellular 42mm Wi-Fi</p>
            <p class="Preco" style="color: rgb(3, 168, 124)">
                <b>R$ 1024,00</b>
            </p>
        </div>
    </div>
