@{
    ViewBag.Title = "Home Page";
}


<link rel="stylesheet" href="~/Content/MyStyle.css">
@Scripts.Render("~/bundles/bootstrap")

<div class="row">

    <div class="card espacos col-12 col-sm-6 col-md-4 col-lg-2" style="width: 18rem;">
        <img class="card-img-top" src="..\Imagens\CelularSamsung.png"
             alt="Imagens dos Produtos">
        <div class="card-body">
            <h5 class="card-title">Smartphones</h5>
            <h4 class="card-title">Celular Sansung</h4>
            <p class="card-text">
                Smartphone Samsung Galaxy J6 64GB Dual Chip Android 8.0 Tela 5.6" Octa-Core 1.6GHz
                4G Câmera 13MP - Violeta.
            </p>
            <p class="Preco">
                <b>R$ 999,99</b>
            </p>
        </div>

    </div>
    <div class="card espacos col-12 col-sm-6 col-md-4 col-lg-2" style="width: 18rem;">
        <img class="card-img-top" src="C:\Users\aspnetmvc\source\repos\LojaVirtual\LojaVirtual\imagens\tv.png"
             alt="Imagens dos Produtos">
        <div class="card-body">
            <h5 class="card-title">SmartTv</h5>
            <h4 class="card-title">SmartTv Samsung</h4>
            <p class="card-text">SmartTv Samsung 50 Polegadas.</p>
            <p class="Preco">
                <b>Por Apenas R$ 5.999.99</b>
            </p>
        </div>
    </div>
    <div class="card espacos col-12 col-sm-6 col-md-4 col-lg-2" style="width: 18rem;">
        <img class="card-img-top" src="C:\Users\aspnetmvc\source\repos\LojaVirtual\LojaVirtual\imagens\IPhone.jpg"
             alt="Imagens dos Produtos">
        <div class="card-body">
            <h5 class="card-title">Smartphones</h5>
            <h4 class="card-title">iPhone 6S</h4>
            <p class="card-text">
                iPhone 6s Apple com 3D Touch, iOS 11, Sensor Touch ID, Câmera iSight 12MP, Wi-Fi,
                4G, GPS, Bluetooth e NFC, 32GB, Rose, Tela 4,7"
            </p>
            <p class="Preco">
                <b>Por R$2.499,00</b>
            </p>
        </div>
    </div>
    <div class="card espacos col-12 col-sm-6 col-md-4 col-lg-2" style="width: 18rem;">
        <img class="card-img-top" src="C:\Users\aspnetmvc\source\repos\LojaVirtual\LojaVirtual\imagens\Fritadeira.jpg"
             alt="Imagens dos Produtos">
        <div class="card-body">
            <h5 class="card-title">Eletro Eletrônico</h5>
            <h4 class="card-title">Fritadeira</h4>
            <p class="card-text">Fritadeira Sem Óleo Cadence Perfect Fryer Colors</p>
            <p class="Preco">
                <b>Por R$499,00</b>
            </p>
        </div>
    </div>
    <div class="card espacos col-12 col-sm-6 col-md-4 col-lg-2 " style="width: 18rem;">
        <img class="card-img-top" src="C:\Users\aspnetmvc\source\repos\LojaVirtual\LojaVirtual\imagens\macbook-air.jpg"
             alt="Imagens dos Produtos">
        <div class="card-body">
            <h5 class="card-title">Informática</h5>
            <h4 class="card-title">MacBook Air</h4>
            <p class="card-text">
                MacBook Apple MK4N2BZ/A com Intel® Core™ M Dual Core, 8GB, 512GB SSD, Wireless,
                Bluetooth, Webcam, Tela LED Retina 12" e OS X Yosemite
            </p>
            <p class="Preco">
                <b>R$ 9999,99</b>
            </p>
        </div>
    </div>
    <div class="card espacos col-12 col-sm-6 col-md-4 col-lg-2" style="width: 18rem;">
        <img class="card-img-top" src="C:\Users\aspnetmvc\source\repos\LojaVirtual\LojaVirtual\imagens\Playstation.jpg"
             alt="Imagens dos Produtos">
        <div class="card-body">
            <h5 class="card-title">Games</h5>
            <h4 class="card-title">Paystation 4</h4>
            <p class="card-text">Console PlayStation 4 Slim 500GB - Preto - Bivolt</p>
            <p class="Preco">
                <b>R$ 2.149,00</b>
            </p>
        </div>
    </div>
    <div class="card espacos col-12 col-sm-6 col-md-4 col-lg-2" style="width: 18rem;">
        <img class="card-img-top" src="C:\Users\aspnetmvc\source\repos\LojaVirtual\LojaVirtual\imagens\Geladeira.jpg"
             alt="Imagens dos Produtos">
        <div class="card-body">
            <h5 class="card-title">Eletrodomésticos</h5>
            <h4 class="card-title">Geladeira Brastemp</h4>
            <p class="card-text">
                Geladeira Brastemp Frost Free Duplex Ative! Inverse Maxi BRE80 com Freezer
                Invertido e Controle Eletrônico - 573L
            </p>
            <p class="Preco">
                <b>Por apenas R$ 3.399,00</b>
            </p>
        </div>
    </div>
    <div class="card espacos col-12 col-sm-6 col-md-4 col-lg-2" style="width: 18rem;">
        <img class="card-img-top" src="C:\Users\aspnetmvc\source\repos\LojaVirtual\LojaVirtual\imagens\Beats.jpg"
             alt="Imagens dos Produtos">
        <div class="card-body">
            <h5 class="card-title">Acessórios</h5>
            <h4 class="card-title">Fone de Ouvido Beats</h4>
            <p class="card-text">Fone de ouvido supra-auricular Beats EP - Vermelho</p>
            <p class="Preco">
                <b>R$ 599,00</b>
            </p>
        </div>
    </div>
</div>
