.nav-color {
    background-color: rgba(134, 0, 0, 0.952);
}

.espacos {
    margin: 50px;
    margin-left: 80px;
    border: solid 1px rgba(3, 168, 124, 0.3);
    padding: 10px;
}

.espacos:hover {
    border: solid 3px rgba(3, 168, 124, 0.3);
    box-shadow: 10px 10px 20px rgba(3, 168, 124, 0.3);
}

.nav-font {
    color: rgba(0,0,0,.9);
    font-size: 1.25rem;
}
